# dependencies
node_modules/

# build output
lib/

# OS
.DS_Store
*.log
npm-debug.log
yarn-error.log

# editors
.idea/
.vscode/
*.iml

# Android
build/
.gradle/
local.properties
.cxx/
*.keystore

# iOS / Xcode
Pods/
*.pbxuser
!default.pbxuser
*.xccheckout
*.moved-aside
xcuserdata/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# misc
coverage/
*.tgz
.eslintcache

# example 构建产物
example/ios/Pods/
example/ios/build/
example/android/.cxx/
example/vendor/
